:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #6290c3;
  --secondary: #c2e7da;
  --light: #f1ffe7;
  --white: #fff;
  --dark: #1a1b41;
  --green: #baff29;

  --primary-rgb: 98, 144, 195;
  --dark-rgb: 26, 27, 65;
  --white-rgb: 255, 255, 255;

  --border-radius: 6px;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-xxl: 1.5rem;
  --text-xxxl: 1.875rem;
}

a {
  font-weight: 400;
  color: var(--dark);
  text-decoration: inherit;
}

body {
  margin: 0;
  background-color: var(--secondary);
  color: var(--dark);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}